/* Google fonts*/
@import url("https://fonts.googleapis.com/css?family=Damion");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400");

/* Universal Styles */
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.main-content {
  position: relative;
  top: 5.3125rem; /* To offset for fixed header. */
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  height: 5.3125rem;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  z-index: 1;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
}

header .logo {
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
  font-size: 1.25rem;
  flex: 1;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

/* Sign Up Section */
.banner{
  display: flex;
  height: 21.25rem;
  background-image: url("../images/banner-landingpage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10.625rem 0;
}

.cta {
  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
  margin-left: 6.25rem;
}

.cta .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
  text-align: center;
}

.cta h1 {
  font-size: 3.125rem;
}

.cta h2 {
  font-size: 2.25rem;
}

.cta span strong {
  font-weight: bold;
}

.cta .cursive {
  font-family: "Damion", cursive;
}

.cta .striking {
  font-family: "Rubik", sans-serif;
  padding-bottom: .75rem;
}

.cta .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

/* Features Section */
.features {
  display: flex;
  justify-content: space-between;
  padding: 4rem 1.4375rem;
  background-color: #f3f3f3;
}

.feature {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 1.1875rem;
  background-color: white;
  text-align: center;
}

.feature img {
  width: auto;
  height: 25.796875rem;
}

.feature .content {
  padding: 2.5rem;
  line-height: 1.2;
}

.feature h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-weight: 300;
  color: #4a4a4a;
}

/* Filters Section */
#filters-section {
  display: flex
  padding: 4rem 0;
  background-color: #4a4a4a;
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#filters-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
}

#filters-section .images-container {
  max-width: 100%;
  padding: 0 1%;
}

/* Quotes Section */
#quotes-section {
  background-color: #f3f3f3;
}

#quotes-section content {
  padding: 5rem 0;
}

#quotes-section quote {
  padding-right: 1.875rem;
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

#quotes-section quote-citation {
  height: 1.875rem;
}

/* Footer */
footer {
  background-color: #9b9b9b;
  padding: 1.5rem 2rem;
}

footer .content {
  color: white;
  display: flex;
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
}

/*Media Queries*/
@media only screen and (max-width: 890px) {
  .feature h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  .feature h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

@media only screen and (min-width: 760px) {
  footer .content {
    font-size: .625rem;
  }
}

@media only screen and (max-width: 760px) {
  .main-content {
    top: 2.5625rem;
  }
  header .desktop {
    display: none;
  }
  header .mobile {
    display: block;
    width: 100%;
  }
  header .content {
    padding: .5rem 0;
  }
  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  header .mobile li {
    padding: 0;
  }
  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
  }
  #quotes-section content {
    padding: 1.875rem .625rem;
  }
  #quotes-section quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  #quotes-section quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
  .banner {
    align-items: center;
    justify-content: center;
    height: 28rem;
  }
  .cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
  }
  .cta .content {
    margin-top: 0;
  }
  .cta .email {
    display: none;
  }
  .cta h1 {
    font-size: 3.125rem;
  }
 .cta h2 {
    font-size: 2.25rem;
  }
  #filters-section {
    padding: 1.5rem 0 0 0;
  }
  #filters-section .content {
    margin-bottom: 1rem;
  }
  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }
  #filters-section .content h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
  #filters-section .images-container {
    padding: 0;
  }
  #filters-section .extra {
    display: none;
  }
  #features-section {
    flex-flow: column;
    padding: 0;
  }
  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }
}

@media only screen and (max-width: 450px) {
  #sign-up-section {
    height: 20rem;
  }
  #sign-up-cta h1 {
    font-size: 2.25rem;
  }
  #sign-up-cta h2 {
    font-size: 2rem;
  }
}
